<div class="platform__wrapper">
  <div class="profile profile--home">
    <div class="profile-header__blocks">
      <div class="profile-blocks">
        <header class="profile-postcard-header">
        <div class="postcard postcard--responsive" id="header">
          <div class="postcard__content-container">
            <div class="postcard__image-container">
              <figure class="postcard__figure">
                <div class="postcard__figure__image">
                  <style type="text/css"> </style>
                </div>
                <cite class="postcard__figure__cite">
                  <a class="profile-photo-attribution__link" href="https://www.flickr.com/photos/justinjensen/4979561102/in/album-72157623671307590/" rel="noopener noreferrer nofollow" target="_blank">justinjensen</a>&nbsp;/&nbsp;
                  <a class="profile-photo-attribution__link" href="https://creativecommons.org/licenses/by/2.0/" rel="noopener noreferrer nofollow" target="_blank">CC BY </a>
                </cite>
              </figure>
              <div class="postcard-add-to-list">
                <button class="button--has-icon button--icon-left button--icon-heart button--postcard-atl">
                  <span class="add-to-list__text button__text">Add to List</span>
                </button>
              </div>
              <div class="postcard__genus--wrap">
                <span class="postcard__genus postcard__genus--current">College</span>
                <a class="postcard__genus" href="https://www.niche.com/graduate-schools/massachusetts-institute-of-technology/">Grad School</a>
              </div>
            </div>
            <div class="postcard__content-wrap">
              <div class="postcard__content postcard__content--primary">
                <h1 class="postcard__title">Massachusetts Institute of Technology</h1>
                  <div class="postcard__badge"><a href="https://www.niche.com/colleges/search/best-colleges/"><em>#<!-- -->1</em> in <!-- -->Best Colleges in America</a>
                  </div>
                  <ul class="postcard__attrs">
                    <li class="postcard__attr postcard-fact">4 Year</li>
                    <li class="postcard__attr postcard-fact">Cambridge, MA</li>
                    <li class="postcard__attr postcard__attr--has-reviews">
                      <div class="profile-review-stars profile-review-stars--home">
                        <div class="review__stars review__stars--gray"><span class="review__stars__icon review__stars__icon--gray--40"></span>
                          <span class="review__stars__number__reviews">619 reviews</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="postcard__attrs postcard__attrs--fact"></ul>
                </div>
                <div class="postcard__content postcard__content--secondary">
                  <div class="postcard__cta postcard__cta--full-width">
                    <a class="button button--small button--light-blue button--full-width" href="https://www.niche.com/colleges/massachusetts-institute-of-technology/how-to-apply/">How to Apply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>
