<div class="platform__wrapper">
  <div class="title_head_container">
    <div class="head_image">
    <%= image_tag "/header-back.png"%>
    </div>
    <div class="college_type">
    <p>国立</p>
    </div>
    <div class="faculty_info">
      <a class="rankings_position">#1</a>
      <a class="rankings_category">○○学部ランキング</a>
      <h1 class="college_faculty_name">××大学〇〇学部</h1>
      <a>×年制</a> <a>××県××市</a> <a>設立年度××××年</a>
    </div>
    <div class="faculty_info_option">
        <a class="faculty_hp" href="https://www.ds.shiga-u.ac.jp/">大学HP</a>
      <br>
        <a class="mylist">
          <%= fa_icon("heart", text:"マイリストに追加") %>
        </a>
  </div>
</div> 

