/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

 * {
   box-sizing: border-box;
 }

 html {
   font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
   line-height: 1.7;
   letter-spacing: 1px;
   }

 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: #2d3133;
   font-size: 14px;
 }

 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }

 input {
   background-color: transparent;
   outline-width: 0;
 }

 form input[type="submit"] {
   border: none;
   cursor: pointer;
 }

 /* 共通レイアウト ================================ */
 body {
   color: #2d3133;
   background-color: #f5f5dc;
   margin: 0;
   min-height: 1vh;
 }

 .main {
   position: absolute;
   top: 64px;
   width: 100%;
   height: auto;
   min-height: 100%;
   background-color: #f5f8fa;
 }

 .container {
   max-width: 600px;
   margin: 60px auto;
   padding-left: 15px;
   padding-right: 15px;
   clear: both;
 }

 /* ヘッダー ================================ */
 header {
   height: 64px;
   position: absolute;
   top:0;
   z-index: 1;
   width: 100%;
   position: fixed;
   background-color: #ffd700;
 }

.header-logo img{
  width:50px;
  float: left;
  line-height: 64px;
  position:absolute;
  top:7px;
  left:15px;
}

 .header-title {
   float: left;
   padding-left: 80px;
   color: white;
   font-size: 22px;
   line-height: 64px;
 }

 .header-title a{
   color: white;
   font-size: 22px;
 }

 .header-menus {
   float: right;
   padding-right: 20px;
 }

 .header-menus li {
   float: left;
   line-height: 64px;
   font-size: 15px;
   color: white;
   padding-left: 15px;
 }

 .header-menus a {
   float: left;
   font-size: 18px;
   color: white;
 }

 .header-menus .fa {
   padding-right: 5px;
 }

 .header-menus input[type="submit"] {
   padding: 0 20px;
   float: left;
   line-height: 64px;
   color: white;
   margin: 0;
   font-size: 13px;
 }

 /* top ================================ */
 .top-main {
   padding: 200px 0 100px;
   text-align: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: auto;
   min-height: 100%;
   color: white;
   background-color: #3ecdc6;
   background-repeat: no-repeat;
   background-position: center 50%;
   background-size: cover;
   background-image: url("/top.jpg");
 }

 .top-message {
   position: relative;
 }

 .top-main h2 {
   font-size: 70px;
   font-weight: 500;
   line-height: 1.3;
   -webkit-font-smoothing: antialiased;
   margin-bottom: 20px;
 }

 .top-main p {
   font-size: 24px;
 }

 /* about ================================ */
 .about-main {
   padding: 180px 8% 0;
   color: white;
 }

 .about-main h2 {
   font-size: 64px;
   font-weight: 500;
   line-height: 1.4;
 }

 .about-main p {
   font-weight: 200;
   font-size: 20px;
 }

 .about-img {
   width: 84%;
 }

 /* フォーム================================ */
 .form {
   max-width: 600px;
   margin: 0 auto;
   background-color: white;
   box-shadow: 0 2px 6px #c1ced7;
 }

 .form-heading {
   font-weight: 300;
   margin: 60px 0 20px;
   font-size: 48px;
   color: #bcc8d4;
 }

 .form-body {
   padding: 30px;
 }

 .form-error {
   color: #ff4d75;
 }

 .form input {
   width: 100%;
   border: 1px solid #d8dadf;
   padding: 10px;
   color: #57575f;
   font-size: 16px;
   letter-spacing: 2px;
   border-radius: 2px;
 }

 .form textarea {
   width: 100%;
   min-height: 110px;
   font-size: 16px;
   letter-spacing: 2px;
 }

 .form input[type="submit"] {
   background-color: #3ecdc6;
   color: white;
   cursor: pointer;
   font-weight: 300;
   width: 120px;
   border-radius: 2px;
   margin-top: 8px;
   margin-bottom: 0;
   float: right;
 }

 .form-body:after {
   content: '';
   display: table;
   clear: both;
 }

 /* フラッシュ ================================ */
 .flash {
   padding: 10px 0;
   color: white;
   background: rgb(251, 170, 88);
   text-align: center;
   position: absolute;
   top: 64px;
   z-index: 10;
   width: 100%;
   border-radius: 0 0 2px 2px;
   font-size: 14px;
 }


/* footer ================================ */
footer {
  background: white;
  font-size: 14px;
  padding: 50px 15px 0;
  margin-bottom: 0px;
  width: 100%;
}
.content {
  min-height: 700px;
}

.footer-static-nav-container img{
  width:150px;
  position: relative;
  top: 50px;
  left: 30px;
  border-radius: 10px;
}


.footer__container {
  border-top: 2px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  position: absolute;
    bottom: 0;
}
@media only screen and (min-width: 600px)  {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 30px 30px;
  }
}
.footer-claim-cta {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
.footer-claim-cta .claim-your-school-cta {
  font-size: 16px;
}
.footer-claim-cta .claim-your-school-cta__link {
  white-space: nowrap;
}
.footer-dynamic-nav-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media only screen and (min-width: 600px)  {
  .footer-dynamic-nav-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 0 0 70px;
    width: 80%;
  }
}

.footer-tagline {
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 60px 0 10px;
  padding: 0 20px;
  text-align: left;
}

@media only screen and (min-width: 600px)  {
  .footer-tagline {
    margin: 30px 0 10px;
  }
}
@media only screen and (min-width: 700px)  {
  .footer-tagline {
    font-size: 20px;
    margin: 35px 0 0;
    padding: 0;
    text-align: left;
  }
}
.footer-link-collection {
  display: none;
}
@media only screen and (min-width: 600px)  {
  .footer-link-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0 0;
  }
}
.footer-link-collection-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  padding: 0 10px 0 0;
  width: 33.33333%;
}
.footer-link-collection-list__item {
  font-size: 12px;
  line-height: 20px;
}
.footer-link-collection-list__item > a {
  color: #919191;
}
.footer-logo {
  background: white;
  color: transparent;
  display: block;
  font-size: 9px;
  height: calc(9em + 20px);
  padding: 10px;
  left: 50%;
  margin: 0 0 0 -64px;
  position: absolute;
  top: 7px;
  width: calc(12em + 20px);
}
.footer-logo:hover {
  color: transparent;
}
.footer-logo::before {
  background: url(https://d33a4decm84gsn.cloudfront.net/static/platform-sprite-03092018.svg);
  background-size: 50em 50em;
  overflow: hidden;
  text-indent: -1000%;
  background-position: 0.2em 0.1em;
  content: '';
  display: block;
  height: 9em;
  width: 12em;
}
@media only screen and (min-width: 600px)  {
  .footer-logo {
    font-size: 0.74em;
    left: 0;
    margin: -45px 0 0;
    position: relative;
    top: 0;
  }
}
.footer-social-buttons {
  text-align: center;
  position: relative;
    top: 70px;
    left: 40px;
}
@media only screen and (min-width: 600px)  {
  .footer-social-buttons {
    text-align: left;
    padding: 0 0 0 12px;
  }
}
.footer-social-button {
  border-radius: 10px;
  color: transparent;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin: 0 15px 0 0;
  text-decoration: none;
  width: 40px;
}

.footer-social-button--facebook {
  background-image: url(https://d33a4decm84gsn.cloudfront.net/static/social-icons/facebook-icon.svg);
}
.footer-social-button--facebook:hover {
  opacity: 0.8;
}
.footer-social-button--twitter {
  background-image: url(https://d33a4decm84gsn.cloudfront.net/static/social-icons/twitter-icon.svg);
}
.footer-social-button--twitter:hover {
  opacity: 0.8;
}
.footer-static-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 10px 30px 20px 45px;
}
@media only screen and (min-width: 600px)  {
  .footer-static-list {
    padding: 20px 0 40px 22px;
  }
}
.footer-static-list__item {
  font-size: 16px;
  line-height: 24px;
  padding: 2px 0;
  width: 50%;
}
@media only screen and (min-width: 600px)  {
  .footer-static-list__item {
    width: 100%;
  }
}
.footer-static-nav-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media only screen and (min-width: 600px)  {
  .footer-static-nav-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    min-width: 140px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
  }
}
.footer-copyright {
  color: #919191;
  font-size: 12px;
  padding: 15px 0;
  text-align: right;
}
@media only screen and (min-width: 600px)  {
  .footer-copyright {
    text-align: right;
    padding: 15px 0 15px 22px;
  }
}
.footer-vertical-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
}
.footer-vertical-links .footer-vertical-links__item {
  font-family: 'Niche';
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 25px 20px 0 0;
  border-top: 1px solid #ddd;
}
.footer-vertical-links .footer-vertical-links__item:last-child {
}
.footer-vertical-links a {
  color: #53a63a;
}
@media (max-width: 700px) {
  .footer-vertical-links .footer-vertical-links__item {
    font-size: 11px;
    padding: 10px 0 0;
  }
}
@media only screen and (min-width: 900px) {
  .footer-vertical-links .footer-vertical-links__item {
    font-size: 13px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  .footer-vertical-links .footer-vertical-links__item {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .footer-vertical-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
}

.footer-vertical-links2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 20px 0;
}
.footer-vertical-links2 .footer-vertical-links__item2 {
  font-family: 'Niche';
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 15px 20px 5px 0;
}
.footer-vertical-links2 .footer-vertical-links__item2:last-child {
}
.footer-vertical-links2 a {
  color: #53a63a;
}
@media (max-width: 700px) {
  .footer-vertical-links2 .footer-vertical-links__item2 {
    font-size: 11px;
    padding: 10px 0 0;
  }
}
@media only screen and (min-width: 900px) {
  .footer-vertical-links2 .footer-vertical-links__item2 {
    font-size: 13px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  .footer-vertical-links2 .footer-vertical-links__item2 {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .footer-vertical-links2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
}

.global-nav-container {
  z-index: 102;
  position: relative;
}
@media only print {
  .global-nav-container {
    display: none;
  }
}
.global-nav--show-mobile {
  width: 100vw;
  height: 100vh;
}
.global-nav__minimal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  z-index: 200;
}
.global-nav__minimal-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 5px;
  /*
        Account Login/Sign up
    */
}
@media only screen and (min-width: 768px)  {
  .global-nav__minimal-inner {
    padding: 10px;
  }
}
@media only screen and (min-width: 900px)  {
  .global-nav__minimal-inner {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 1024px)  {
  .global-nav__minimal-inner {
    padding: 10px 20px;
  }
}
.global-nav__minimal-inner .global-nav__logo {
  margin-left: 0;
}
.global-nav__minimal-inner .global-nav__logo .niche-logo-horizontal path {
  fill: #464646;
  stroke: #464646;
}
.global-nav__minimal-inner .global-nav__logo .niche-logo-horizontal circle {
  stroke: #464646;
}
@media only screen and (min-width: 1024px)  {
  .global-nav__minimal-inner .global-nav__logo .niche-logo-horizontal {
    height: 40px;
    width: 170px;
  }
}
.global-nav__minimal-inner .niche-icon--account {
  color: rgba(0, 0, 0, 0.5);
}
.global-nav__minimal-inner .global-nav__account-login {
  color: rgba(0, 0, 0, 0.5);
}
.global-nav__minimal-inner .global-nav__account-login:hover {
  color: rgba(0, 0, 0, 0.5);
}
.global-nav__minimal-inner .global-nav__account__logged-in {
  color: rgba(0, 0, 0, 0.5);
}
.global-nav__minimal-inner .global-nav__account__logged-in:hover {
  color: rgba(0, 0, 0, 0.7);
}
.global-nav__minimal-inner .global-nav__account__logged-in:hover .global-nav__account-icon,
.global-nav__minimal-inner .global-nav__account__logged-in:hover .niche-icon--account {
  color: rgba(0, 0, 0, 0.7);
}
.global-nav__minimal-inner .global-nav__account-icon {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
.global-nav__minimal-inner button.global-nav__account-signup {
  color: white;
}
.global-nav__primary {
  background-color: #59a44d;
  height: 88px;
  position: relative;
  width: 100%;
  z-index: 200;
}
@media only screen and (min-width: 500px)  {
  .global-nav__primary {
    height: 95px;
  }
}
@media only screen and (min-width: 768px)  {
  .global-nav__primary {
    height: 62px;
  }
}
@media only screen and (min-width: 900px)  {
  .global-nav__primary {
    height: 70px;
  }
}
@media only screen and (min-width: 768px)  {
  .global-nav--sticky .global-nav__primary {
    position: fixed;
    margin-bottom: 0;
    top: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: translateY(0, 0);
            transform: translateY(0, 0);
    z-index: 1000;
  }
}
.global-nav--sticky-shadow .global-nav__primary {
  -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.12), 0 5px 10px -6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.12), 0 5px 10px -6px rgba(0, 0, 0, 0.24);
}
.global-nav__primary-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 768px)  {
  .global-nav__primary-inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 900px)  {
  .global-nav__primary-inner {
    padding: 12px 20px;
  }
}
