// Place all the styles related to the rankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* College1*/
.platform__wrapper{
    font-weight: 400;
    color: #464646;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    width: 100%;
    height: auto;
    position: relative;
      top: 64px;
}
.profile {
    font-weight: 400;
    color: #464646;
    background: #e6e6e6;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    position: relative;
    top: 64px;
    z-index: 0;
}
.profile-header__blocks {
    position: relative;
    z-index: 2;
}
.profile-blocks {
    -webkit-box-flex: 1;
    flex: 1 0;
}
.postcard--responsive {
    width: auto;
    max-width: 1080px;
    border-radius: 0;
}
.postcard {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.postcard__image-container{
  position: relative;
  overflow: hidden;
  height: 34vw;
  max-height: 350px;
}
.postcard__image-container {
  background-image: url("/ShigaUniv_Hikone_AssemblyHall01.png");
  position: relative;
  overflow: hidden;
}
.postcard__figure__image {
    background: #eee;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50px;
    z-index: 1;
}
